@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"style="background-color:forestgreen">
    <div class="row">
        <div class="input-group col-lg-12">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">All Categories</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">Home Services</a></li>
                    <li><a href="">Automotive</a></li>
                    <li><a href="">Business</a></li>
                </ul>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control " style="max-width: inherit" name="x" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
               
            </span>
            <a class="pull-right" style="color:white;font-size:x-large" href="">Resgistration</a>
            
            
        </div>
    </div>
</div>

@Html.Partial("_WelcomePartial")

@Html.Partial("_ProcessSteps")
<div class="row">
    
</div>
<div class="row">
    <div class="col-md-3 lg-filter-area">
        @Html.Partial("_SideMenuPartial")
    </div>
    <div class="col-md-9">


        <h4 class="text-primary text-center">
            ORDERS FOR PLUMBING
        </h4>
        @Html.Partial("_JobPostPartial")
        @Html.Partial("_JobPostPartial")
        @Html.Partial("_JobPostPartial")
        @Html.Partial("_JobPostPartial")
        @Html.Partial("_JobPostPartial")

        <h4 class="text-primary text-center">
            ORDERS FOR PLUMBING (Style 2)
        </h4>
        @Html.Partial("_JobPostPartial2")
        @Html.Partial("_JobPostPartial2")
        @Html.Partial("_JobPostPartial2")
        @Html.Partial("_JobPostPartial2")
        @Html.Partial("_JobPostPartial2")

    </div>
</div>

<script src="/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $('.breadcrumb  a').click(function () {
        $(this).parent('li.halfprimary').removeClass("halfprimary").addClass("primary");
    });
    
</script>


<div class="modal fade" id="Worker" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Worker</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Description1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Job Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Description" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Job Description</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Choose your City:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Give your headline:</label>
                        <text class="form-control" id="message-text"></text>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Describe detail that you want to be done</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>