@using Work.Models;
@{
    ViewBag.Title = "Worker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Work.Models.WorkerModel
<div class="jumbotron" style="background-color:forestgreen">
    <div class="row">
        <div class="input-group col-lg-12">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">All Categories</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">Home Services</a></li>
                    <li><a href="">Automotive</a></li>
                    <li><a href="">Business</a></li>
                </ul>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control " style="max-width: inherit" name="x" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>

            </span>
            <a class="pull-right" style="color:white;font-size:x-large" href="">Resgistration</a>


        </div>
    </div>
</div>
@Html.Partial("_WelcomePartial")
@Html.Partial("_ProcessSteps")
<div class="row">

</div>
<div class="row">
    <div class="col-md-3 lg-filter-area">
        @Html.Partial("_SideMenuPartial")
    </div>
    <div class="col-md-9">

        <h4 class="text-primary text-center">
            @ViewBag.Title
        </h4>
        <div class="panel panel-default">
        @Html.BeginForm("Worker","Home",FormMethod.Post) {   
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9 border_right">
                        @Html.DropDownListFor(m=>m.WorkerCategory,
                    new SelectList(Enum.GetValues(typeof(category))),
                    "Select Category", new { onchange = "this.form.submit();" })
                    </div>
                    <div class="col-md-3">
                        <div class="row vertical-divider">
                            <div class="col-md-6">
                                <a href="#">Send Message</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">Add to Favorites</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            }
        </div>
    </div>
    
</div>


